.delete-btn {
    width: 15rem;
    padding: .5rem;
    border: 1px solid #0e0e0e;
    border-radius: .3rem;
    font-size: 1.8rem;
}

.delete-btn__link {
    color: #8f8f8f;
}

.delete-btn__link:hover {
    color: #413737;
}