.submit-btn {
    width: 30rem;
    height: 5.8rem;
    border: none;
    border-radius: 1rem;

    background: #20DF7F;
    color: #FFFFFF;
    font-size: 3rem;
    transition: all 0.3s;
}

.submit-btn:hover {
    background-color: #28B06C;
    cursor: pointer;
}
