.success-btn {
    margin-top: 10rem;
    width: 30rem;
    border: none;
    border-radius: 1rem;

    background: #20DF7F;
    color: #FFFFFF;
    padding: 1.5rem 8rem;
    font-size: 3rem;
}

.success-btn:hover {
    background-color: #28B06C;
    cursor: pointer;
}
