* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', 'Verdana', sans-serif;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color: #093545;
    margin: 0;
    display: block;
    height: 100%;

    grid-template-rows: 1fr 50px;
    justify-content: center;
    align-items: center;
}

a {
    color: #e6e6e6;
    text-decoration: none;
}
