.container {
    width: 50%;
    height: 30%;
    min-width: 65rem;
    max-width: 100rem;
    margin: 1rem auto;
    padding: 3rem;
    background: #224957;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.msg {
    font-size: 8rem;
    font-weight: bold;
    background: linear-gradient(to right, #7927b2, #53ec9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    min-width: 55rem;
    max-width: 60rem;
    text-transform: uppercase;
    line-height: .77;
}
