@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca/LexendDeca-Regular.ttf");
    src: url("../fonts/LexendDeca/LexendDeca-Regular.ttf?#iefix") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca/LexendDeca-Bold.ttf");
    src: url("../fonts/LexendDeca/LexendDeca-Bold.ttf?#iefix") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lexend Deca";
    src: url("../fonts/LexendDeca/LexendDeca-Light.ttf");
    src: url("../fonts/LexendDeca/LexendDeca-Light.ttf?#iefix") format("truetype");
    font-style: normal;
    font-weight: 200;
}
