.footer {
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    height: 10rem;
    font-size: 2rem;

    background: #47646d;
    color: #FFFFFF;
    text-align: center;
    margin-top: 3rem;
    padding: 3.75rem 0;
}

.footer__information {
    vertical-align: center;
}

.footer__social-network {
    padding: 1rem;
}

.footer__img {
    width: 10rem;
    height: 10rem;
}
