.title, .subtitle {
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
}

.title_size-l {
    line-height: 7rem;
    font-size: 5.4rem;
}

.title_size-m {
    line-height: 8rem;
    font-size: 5rem;
}

.title__wrapper {
    line-height: 7rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Montserrat';

    opacity: 0.9;
    color: #fff;
}

.subtitle_size-m {
    line-height: 7rem;
    font-size: 3rem;
}
