.content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background: #224957;
    color: #cccccc;
    margin: 7rem auto;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    min-width: 30rem;
    height: auto;
}

.content__article-item {
    width: 100%;
    height: auto;
    min-width: 50rem;
    font-size: 3.6rem;
    text-align: center;
}
