.main-content__form {
    margin: 2rem 0;
}

.form {
    width: 100%;
    padding: 1rem;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.form__btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem;
}

.form__list {
    padding: 0;
}

.form__item {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    font-size: 2rem;
}

.form__label {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #6699cc;

    width: 100%;

    cursor: pointer;
    user-select: none;
}

.form__label._checkbox {
    color: #fff;
    opacity: 0.9;
}

.form__input {
    color: #FFFFFF;
    border: 1px solid #6c6c6c;
    border-radius: 1rem;
    background: #224957;
    outline: none;
    width: 100%;
    height: 4.5rem;
    font-size: 2rem;
    padding: 0 1rem;
}

.form__input_size-xl {
    height: 25rem;
}

.form__input-wrapper {
    margin: 1rem 0 2.5rem;
}

.form__link {
    color: #494949;
}

.form__link:hover {
    color: #0e0e0e;
}

.form__message {
    font-size: 1.5rem;
    color: #ff3939;
}

.form__message-wrapper {
    padding: .5rem;
}
