.main-navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background: #224957;
    height: auto;
    margin: 5rem auto;
    padding: 3rem;
    border-radius: 1rem;
    width: 80%;
    min-width: 30rem;
}

.main-navigation__item {
    color: #dbd7d2;
    height: 10rem;
    padding: 5rem;
    font-size: 3.6rem;
    display: table-cell;
    vertical-align: middle;
}

.main-navigation__item_white {
    color: #FFFFFF;
}

.main-navigation__item_bg-green {
    background: #44d98e;
    border-radius: .5rem;
}

.main-navigation__pagination {
    color: #949494;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 3rem;
}

.main-navigation__link {
    position: relative;
    width: 50%;
    color: #dbd7d2;
    transition: all 0.3s;
}

.main-navigation__link_pl-10 {
    padding-left: 5rem;
}

.main-navigation__link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -0.4rem;

    width: 0;
    height: 0.2rem;

    background-color: #6699cc;
    transition: all 0.3s;
}

.main-navigation__link:hover {
    color: #6699cc;
}

.main-navigation__link:hover::after {
    width: 100%;
}

