.main-content {
    padding: 3rem;
    min-height: calc(100vh - 85px - 32px - 130px);
}

.main-content__body {
    text-align: center;
    width: 80%;
    flex: 1 0 auto;
    margin: 1rem auto;
    min-height: calc(10vh - 85px - 32px - 1px);
}

.main-content__btn-wrapper {
    margin: 10rem 0;
}
