.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #224957;
    color: darkgrey;
    height: 8.5rem;
    border-radius: 1rem;
}

.navigation__item {
    display: block;
    width: 20rem;
    padding: 0 1.5rem;
    font-size: 2.3rem;
    text-align: center;
}

.navigation__link {
    position: relative;

    color: #fff;
    transition: all 0.3s;
    opacity: 65%;

}

.navigation__link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -0.4rem;

    width: 0;
    height: 0.2rem;

    background-color: #6699cc;
    transition: all 0.3s;
}

.navigation__link:hover {
    opacity: 100%;
    color: #6699cc;
    /*border-bottom: .1rem solid darkgrey;*/
}

.navigation__link:hover::after {
    width: 100%;
}
