.main-content__sidenav {
    position: fixed;
    top: 10rem;
    left: 0;
}

.sidenav {
    width: 20rem;
    background-color: #111;
    overflow-x: hidden;
    padding: 1rem 0;
}

.sidenav__link {
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 2em;
    color: #a9a9a9;
    display: block;
}

.sidenav__link:hover {
    color: #f1f1f1;
}