.main-content__table {
    margin: 1rem auto;
}

.table {
    border-collapse: collapse;
    min-width: 60rem;
    min-height: 15rem;
    font-size: 2rem;
}

.table__header {
    border: 1px solid #0e0e0e;
    padding: .7rem;
}

.table__desc {
    border: 1px solid #181818;
    text-align: center;
    padding: .5rem;
}